@import "core";

.common__skills {
  // Requires flex to use flex-wrap
  display: block;
  max-width: 40em;

  .common__skill {
    display: inline-block;
    background-color: aqua;
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 0.25em;
  }
}

.common__project-type {
  background-color: lightgreen;
  font-size: 0.8em;
  border-radius: 0.5em;
  padding: 0.25em;
}

.common__roles {
  @include linear-layout(column, 3em);

  .common__role {
    @include linear-layout(column, 0.5em);

    .common__role-dates {
      font-weight: 700;
      color: #555;
    }

    .common__role-title {
      font-size: 1.25em;
      font-weight: 600;
    }

    .common__role-competences {
    }

    .common__role-challenges {
      @include linear-layout(column, 0.5em);

      .common__role-challenge {
        p:first-child {
          margin-top: 0;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.common__type-label {
  display: inline-block;
  background-color: lightgreen;
  font-size: 0.8em;
  border-radius: 0.5em;
  padding: 0.25em;
  margin: 0.25em;
}
