@mixin linear-layout($direction, $gap: normal, $center: false) {
  // Switch to use flex instead of table. May split text while printing
  $use-flex: false;

  @if $use-flex {
    display: flex;
    flex-direction: $direction;
    gap: $gap;

    @if $center {
      align-items: center;
    }
  } @else {
    display: table;
    box-sizing: border-box;

    @if $direction == row {
      & > * {
        display: table-cell;
      }
    }

    @if $gap != normal {
      & > *:not(:first-child) {
        @if $direction == row {
          padding-left: $gap;
        } @else {
          padding-top: $gap;
        }
      }
    }

    @if $center {
      text-align: center;

      & > * {
        vertical-align: middle;
      }

      @if $direction == column {
        & > * {
          width: 100%;
        }
      }
    } @else {
      & > * {
        vertical-align: top;
      }
    }
  }
}
