---
---

{% assign mac = site.data.MAC %}

{% assign full_name = mac.aboutMe.profile.name | append: ' ' | append: mac.aboutMe.profile.surnames %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ full_name }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"/>
  </head>
  <body class="mac">
    <div class="left-column-holder">
      <div class="left-column">{% include left-column.html mac=mac %}</div>
    </div>
    <div class="right-column-holder">
      <div class="right-column">{% include right-column.html mac=mac %}</div>
    </div>
  </body>
</html>