{% assign mac = include.mac %}

{% capture about_me_content %}
  <div class="right-column__about-me">
    {{ mac.aboutMe.profile.description | markdownify }}
  </div>
{% endcapture %}
{% include right-column/section.html title="About me" content=about_me_content %}

{% if mac.knowledge.hardSkills %}
  {% capture skills_content %}
    <div class="right-column__skills">
      {% assign skills = mac.knowledge.hardSkills | where: "level", nil %}
      {% include right-column/skill-group.html level=nil skills=skills %}

      {% assign skills = mac.knowledge.hardSkills | where: "level", "expert" %}
      {% include right-column/skill-group.html level="Expert" skills=skills %}

      {% assign skills = mac.knowledge.hardSkills | where: "level", "high" %}
      {% include right-column/skill-group.html level="High" skills=skills %}

      {% assign skills = mac.knowledge.hardSkills | where: "level", "intermediate" %}
      {% include right-column/skill-group.html level="Intermediate" skills=skills %}

      {% assign skills = mac.knowledge.hardSkills | where: "level", "basic" %}
      {% include right-column/skill-group.html level="Basic" skills=skills %}
    </div>
  {% endcapture %}
  {% include right-column/section.html title="Skills" content=skills_content %}
{% endif %}

{% if mac.experience.jobs %}
  {% capture jobs_content %}
    {% include right-column/jobs.html jobs=mac.experience.jobs %}
  {% endcapture %}
  {% include right-column/section.html title="Work experience" content=jobs_content %}
{% endif %}

{% if mac.experience.projects %}
  {% capture projects_content %}
    {% include right-column/projects.html projects=mac.experience.projects %}
  {% endcapture %}
  {% include right-column/section.html title="Projects" content=projects_content %}
{% endif %}