.common__skills {
  max-width: 40em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .common__skill {
    height: fit-content;
    background-color: aqua;
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 0.25em;
    display: inline;
  }
}
