.mac {
  @include linear-layout(row, 0);
  margin: 0;
  font-family: sans-serif;

  // For printing
  width: 80em;
}

.left-column-holder {
  width: 30%;
  background-color: lightcyan;
}

.right-column-holder {
  width: 70%;
  background-color: white;
}