.mac {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: sans-serif;
  // For printing
  width: 80em;
}

.left-column {
  background-color: lightcyan;
  padding: 1em;
}

.right-column {
  background-color: white;
  padding: 1em;
}