.right-column {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;

  .right-column__section {
    margin-top: 2em;

    .right-column__section-title {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 1em;
    }

    .right-column__section-content {}
  }

  .right-column__job {
    .right-column__job-organization {
      display: flex;
      flex-direction: row;
      gap: 1.5em;
      align-items: center;

      .right-column__job-organization-image {
        width: 5em;
        height: 5em;
        object-fit: contain;
      }
    }

    .right-column__job-roles {
      .right-column__job-role-title {
      }

      .right-column__job-role-competences {
        max-width: 40em;
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        .right-column__job-role-competences-title {
          height: 100%;
          font-size: 1.25em;
          font-weight: 700;
          text-align: center;
          padding: 0.5em;
        }

        .right-column__job-role-competences-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          
          .right-column__job-role-competence {
            height: fit-content;
            background-color: lightgreen;
            border-radius: 0.5em;
            padding: 0.25em;
            margin: 0.25em;
            display: inline;
          }
        }
      }
    }
  }
}
