.right-column {
  .right-column__section {
    margin-top: 2em;
  }

  .right-column__job-organization {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;

    .right-column__job-organization-image {
      width: 5em;
      height: 5em;
      object-fit: contain;
    }
  }
}
