{% assign type = include.link.type %}
{% assign url = include.link.URL %}

{% capture title %}
  {% if type == "github" %}
    <img src="{{ "/assets/images/github-icon.svg" | relative_url }}" alt="GitHub">
  {% elsif type == "twitter" %}
    <img src="{{ "/assets/images/twitter-icon.svg" | relative_url }}" alt="Twitter">
  {% elsif type == "linkedin" %}
    <img src="{{ "/assets/images/linkedin-icon.svg" | relative_url }}" alt="LinkedIn">
  {% endif %}
{% endcapture %}

<div class="left-column__contact-item">
  <a href="{{ url }}" class="left-column__contact-item-link">
    {{title}}
    <span>{{ url | replace: "https://" | url_decode }}</span>
  </a>
</div>