{% assign level = include.level %}
{% assign languages = include.languages %}

{% if languages.size > 0 %}

  {% capture title %}
    {% if level == "Native or bilingual proficiency" %}
      Native (C1/C2)
    {% elsif level == "Full professional proficiency" %}
      Fluid (B2)
    {% elsif level == "Professional working proficiency" %}
      Intermediate (B1)
    {% elsif level == "Limited working proficiency" %}
      Basic (A2/B1)
    {% elsif level == "Elementary proficiency" %}
      Beginner (A1/A2)
    {% endif %}
  {% endcapture %}

  <div class="left-column__language-group">
    <div class="left-column__language-level">{{ title }}</div>

    {% for language in languages %}
      <div class="left-column__language">
        {{ language }}
      </div>
    {% endfor %}
  </div>
{% endif %}