{% assign job = include.job %}
{% assign org = job.organization %}

<div class="right-column__job">
  <div class="right-column__job-organization">
    {% if org.image.link %}
      <img class="right-column__job-organization-image" src="{{ org.image.link }}" alt="{{ org.image.alt }}"/>
    {% endif %}
    <div class="right-column__job-organization-name">
      {{ org.name }}
    </div>
  </div>
  {% if job.roles %}
    <div class="right-column__job-roles">
      {% for role in job.roles %}
        <div class="right-column__job-role">
          <div class="right-column__job-role-dates">
            {{ role.startDate | date: "%d/%m/%Y" }} -
            {% if role.finishDate %}
              {{ role.finishDate | date: "%d/%m/%Y" }}
            {% else %}
              Present
            {% endif %}
          </div>
          <div class="right-column__job-role-title">
            {{ role.name }}
          </div>

          {% if role.competences %}
            <div class="right-column__job-role-competences">
              {% assign competences = role.competences | map: "name" %}
              {% include common/skills.html skills=competences %}
            </div>
          {% endif %}

          {% if role.challenges %}
            <div class="right-column__job-role-challenges">
              {% for challenge in role.challenges %}
                <div class="right-column__job-role-challenge">
                  {{ challenge.description | markdownify }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>