{% assign projects = include.projects %}

<div class="right-column__projects">
  {% for project in projects %}
    {% assign details = project.details %}

    <div class="right-column__project">
      <div class="right-column__project-title">
        {% if details.image.link %}
          <img class="right-column__project-title-image" src="{{ details.image.link }}" alt="{{ details.image.alt }}"/>
        {% else %}
          <img class="right-column__project-title-image" src="{{ "/assets/images/project-default-icon.svg" | relative_url }}" alt="Project">
        {% endif %}
        <div class="right-column__project-title-name">
          {{ details.name }}
          {% include common/type-label.html type=project.type %}
        </div>
      </div>
      {% if details.URL or details.description %}
        <div class="right-column__project-details">
          {% if details.URL %}
            <a class="right-column__project-details-url" href="{{ details.URL }}" target="_blank">
              <img class="right-column__project-details-url-icon" src="{{ "/assets/images/link-icon.svg" | relative_url }}" alt="Link">
              {{ details.URL | replace: "https://" | url_decode }}
            </a>
          {% endif %}
          {% if details.description %}
            <div class="right-column__project-details-description">
              {{ details.description | markdownify }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% include common/roles.html roles=project.roles %}
    </div>
  {% endfor %}
</div>