{% assign roles = include.roles %}

{% if roles %}
  <div class="common__roles">
    {% for role in roles %}
      <div class="common__role">
        <div class="common__role-dates">
          {{ role.startDate | date: "%d/%m/%Y" }} -
          {% if role.finishDate %}
            {{ role.finishDate | date: "%d/%m/%Y" }}
          {% else %}
            Present
          {% endif %}
        </div>
        <div class="common__role-title">
          {{ role.name }}
        </div>

        {% if role.competences %}
          <div class="common__role-competences">
            {% assign competences = role.competences | map: "name" %}
            {% include common/skills.html skills=competences %}
          </div>
        {% endif %}

        {% if role.challenges %}
          <div class="common__role-challenges">
            {% for challenge in role.challenges %}
              <div class="common__role-challenge">
                {{ challenge.description | markdownify }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}